*.FBX	filter=lfs diff=lfs merge=lfs -crlf
*.a filter=lfs diff=lfs merge=lfs -text
*.ai	filter=lfs diff=lfs merge=lfs -crlf
*.aif filter=lfs diff=lfs merge=lfs -text
*.blend	filter=lfs diff=lfs merge=lfs -crlf
*.cubemap	filter=lfs diff=lfs merge=lfs -crlf
*.dll	filter=lfs diff=lfs merge=lfs -crlf
*.exr	filter=lfs diff=lfs merge=lfs -crlf
*.fbx	filter=lfs diff=lfs merge=lfs -crlf
*.gif	filter=lfs diff=lfs merge=lfs -crlf
*.jpeg	filter=lfs diff=lfs merge=lfs -crlf
*.jpg	filter=lfs diff=lfs merge=lfs -crlf
*.lxo	filter=lfs diff=lfs merge=lfs -crlf
*.mov	filter=lfs diff=lfs merge=lfs -crlf
*.mp3	filter=lfs diff=lfs merge=lfs -crlf
*.obj	filter=lfs diff=lfs merge=lfs -crlf
*.ogg	filter=lfs diff=lfs merge=lfs -crlf
*.pdf	filter=lfs diff=lfs merge=lfs -crlf
*.png	filter=lfs diff=lfs merge=lfs -crlf
*.psd	filter=lfs diff=lfs merge=lfs -crlf
*.reason	filter=lfs diff=lfs merge=lfs -crlf
*.rns	filter=lfs diff=lfs merge=lfs -crlf
*.tga	filter=lfs diff=lfs merge=lfs -crlf
*.tif	filter=lfs diff=lfs merge=lfs -crlf
*.ttf	filter=lfs diff=lfs merge=lfs -crlf
*.wav	filter=lfs diff=lfs merge=lfs -crlf
*.zip	filter=lfs diff=lfs merge=lfs -crlf
*.lfs.*	filter=lfs diff=lfs merge=lfs -crlf
*.bundle filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*9e3956dd95b05694388389b5472b5d0f filter=lfs diff=lfs merge=lfs -text
*a62fbaa27574e004f8e3cd4fdb0dbb89 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*9a47b80420559d84491daa384675c1ec filter=lfs diff=lfs merge=lfs -text
*732622a17fb640142b6a6ab9cdd431ad filter=lfs diff=lfs merge=lfs -text
*2b7fa1924ae6f934d8492c0645b11588 filter=lfs diff=lfs merge=lfs -text
*a42bcfe3a9378bb419f22040b01629d2 filter=lfs diff=lfs merge=lfs -text
*UnityAds filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text